<div class="container card bg-dark text-light" id="content">
  <br>
  <h1>Welcome.</h1>
  <br><br>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/1350/600?random=1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1350/600?random=2" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1350/600?random=3" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </a>
  </div>
  <br><br>
  <h2>About Us.</h2>
  <p>We are a UTT youth company who dream of being software developers, this website is our first web application that
    we developed during this semester, we try to imitate facebook, we replicate its most basic functions, such as making
    publications and commenting on the publications of other users, obviously registering users, we develop the server
    part and the client part, all team members work in back-end and front-end.</p>
  <div class="row">
    <div class="col-sm">
      <h2>Content.</h2>
      <p id="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium consequatur sint aut quam
        quod deserunt eos eaque ducimus quaerat perspiciatis placeat possimus ullam, quisquam molestias dignissimos
        neque delectus inventore corrupti! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id aliquid
        voluptatem enim est! Suscipit dignissimos ad possimus odit, deleniti culpa cumque quibusdam unde id itaque
        molestias reprehenderit earum sapiente natus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Exercitationem adipisci sequi eaque magni dolorum sapiente, repellat impedit odit quaerat facilis vel nisi non
        soluta? Laudantium velit quos laborum voluptatibus quis. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quis veritatis beatae, corrupti praesentium, debitis iure, culpa impedit optio doloremque facere explicabo
        sed pariatur provident repellendus ratione aspernatur incidunt modi. Quam. Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Nostrum, enim minima. Veritatis exercitationem consequatur sed repudiandae et fuga
        dicta, ipsam, officiis aliquid voluptates corrupti voluptatibus unde id quo delectus! Minus. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Sequi cumque excepturi, laborum officia minus odit numquam velit beatae
        aliquid nihil, sapiente laudantium dolore autem? Velit earum omnis quibusdam veritatis sit. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Distinctio cumque velit corrupti possimus officiis soluta labore
        dolorum! Quisquam debitis maxime minus, neque minima magni facilis eius optio pariatur. Quas, voluptatum.</p>

    </div>
    <div class="col-sm">
      <h2>Preferences.</h2>
      <p id="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium consequatur sint aut quam
        quod deserunt eos eaque ducimus quaerat perspiciatis placeat possimus ullam, quisquam molestias dignissimos
        neque delectus inventore corrupti! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id aliquid
        voluptatem enim est! Suscipit dignissimos ad possimus odit, deleniti culpa cumque quibusdam unde id itaque
        molestias reprehenderit earum sapiente natus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Exercitationem adipisci sequi eaque magni dolorum sapiente, repellat impedit odit quaerat facilis vel nisi non
        soluta? Laudantium velit quos laborum voluptatibus quis. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quis veritatis beatae, corrupti praesentium, debitis iure, culpa impedit optio doloremque facere explicabo
        sed pariatur provident repellendus ratione aspernatur incidunt modi. Quam. Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Nostrum, enim minima. Veritatis exercitationem consequatur sed repudiandae et fuga
        dicta, ipsam, officiis aliquid voluptates corrupti voluptatibus unde id quo delectus! Minus. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Sequi cumque excepturi, laborum officia minus odit numquam velit beatae
        aliquid nihil, sapiente laudantium dolore autem? Velit earum omnis quibusdam veritatis sit. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Distinctio cumque velit corrupti possimus officiis soluta labore
        dolorum! Quisquam debitis maxime minus, neque minima magni facilis eius optio pariatur. Quas, voluptatum.</p>

    </div>
  </div>
</div>
