<div *ngIf="details.id > 0" class="mb-4">
  <button class="btn btn-block btn-secondary" (click)="status=!status" *ngIf="status">Mostrar detalles</button>
  <button class="btn btn-block btn-secondary" (click)="status=!status; statusCom=false" *ngIf="!status">Ocultar
    detalles
  </button>
</div>
<div>
  <div class="card" [@openClose]="this.status? 'close':'open'">
    <div class="card-title mt-2 text-center">
      <h3>Detalles</h3>
    </div>
    <div class="row justify-content-end">
      <div class="col text-right text-dark mr-3" *ngIf="comment.user_id==details.user_id">
        <a class="text-dark" type="button" data-toggle="modal"
           data-target="#actualizarPub">Editar</a>
      </div>
    </div>
    <div class="card-body" *ngIf="!status">
      <ul *ngIf="details" class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col">Titulo: {{details.title}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-center">
            <img *ngIf="selectedFile" src="http://127.0.0.1:3333/getImage?id={{details.id}}"
                 style="height: 100px; width: 100px">
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col" style="overflow-y: scroll; height: 20vh">Contenido: {{details.content}}</div>
          </div>
        </li>
      </ul>
      <div class="row justify-content-center mt-4">
        <div class="col-12 text-center">
          <button type="button" class="btn bg-success text-light" data-bs-toggle="modal"
                  data-bs-target="#modalComment">Comentar
          </button>
        </div>
      </div>
      <div class="row justify-content-center mt-1">
        <a class="text-info" (click)="statusCom=!statusCom">Mostrar comentarios</a>
      </div>
    </div>
    <div class="card-footer" *ngIf="statusCom">
      <div class="sc">
        <div *ngFor="let com of comms">
          <ul *ngIf="details" class="list-group">
            <li class="list-group-item list-group-item-action">
              <div class="row justify-content-between" style="font-size: 0.7em">
                <div class="col ml-0"><label>{{com.username}}</label></div>
                <div class="col text-right text-dark" *ngIf="comment.user_id==com.user_id">
                  <a class="text-dark" type="button" (click)="comment = com" data-toggle="modal"
                     data-target="#actualizarComment">Editar</a> |
                  <a class="text-dark" type="button" (click)="deleteCommentary(com.id)">Eliminar</a>
                </div>
              </div>
              <div class="row">
                <div class="col">Titulo: {{com.title}}</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col">Contenido: {{com.content}}</div>
              </div>
            </li>
          </ul>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalComment" tabindex="-1" aria-labelledby="modalComment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="comment.title" placeholder="Title"
                 class="form-control"
                 autofocus>
        </div>
        <div class="form-group">
          <textarea name="content" [(ngModel)]="comment.content" placeholder="Content" rows="2"
                    class="form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-light" (click)="savedCommentary()" data-bs-dismiss="modal">Comentar
        </button>
      </div>
    </div>
  </div>
</div>


<!--actualizar comentario entera-->
<div class="modal fade" id="actualizarComment" tabindex="-1" aria-labelledby="actualizarPubLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="actualizarComLabel">Actualizando Comentario.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <label for="newPub">Titulo</label><input type="text" name="newTit" class="form-control"
                                                 [(ngModel)]="comment.title"
                                                 placeholder="Nuevo Titulo">
        <br>
        <label for="newContent">Contenido</label><input type="text" class="form-control" name="content"
                                                        [(ngModel)]="comment.content"
                                                        placeholder="Nuevo Contenido">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-warning" (click)="updateCommentary()" data-dismiss="modal">Actualizar
        </button>
      </div>
    </div>
  </div>
</div>

<!--actualizar publicacion entera-->
<div class="modal fade" id="actualizarPub" tabindex="-1" aria-labelledby="actualizarPubLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="actualizarPubLabel">Actualizando Publicación.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <label for="newPub">Titulo</label><input type="text" id="newPub" name="newTit" class="form-control"
                                                 [(ngModel)]="details.title"
                                                 placeholder="Nuevo Titulo">
        <br>
        <label for="newContent">Contenido</label><input type="text" class="form-control" id="newContent" name="content"
                                                        [(ngModel)]="details.content"
                                                        placeholder="Nuevo Contenido">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-warning" (click)="upTitlePost()" data-dismiss="modal">Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
