
<div class="container" id="content">
    <div class="card bg-dark text-light">
        <div class="card-body">
            <div class="row"> 
                <div class="col-sm">
                    <h1>Profile
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                        </svg>
                    </h1>
                    <div class="form" [formGroup]="formUser">
                        <label for="username">Username</label>
                        <div class="input-group mb-3 form-group">
                            <input class="form-control form-control-lg" type="text" value="{{profile.username}}" aria-label=".form-control-lg example" readonly name="username">
                            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modalUsername">Edit</button>
                        </div>                   
                        <label for="first_name">First Name</label>
                        <div class="input-group mb-3 form-group">
                            <input class="form-control form-control-lg" type="text" value="{{profile.first_name}}" aria-label=".form-control-lg example" readonly name="first_name">
                            <button type="button" class="btn btn-outline-light">Edit</button>
                        </div> 
                        <label for="last_name">Last Name</label>
                        <div class="input-group mb-3 form-group">
                            <input class="form-control form-control-lg" type="text" value="{{profile.last_name}}" aria-label=".form-control-lg example" readonly name="last_name">
                            <button type="button" class="btn btn-outline-light">Edit</button>
                        </div>
                        <label for="email">E-mail</label>
                        <div class="input-group mb-3">
                            <input class="form-control form-control-lg" type="text" value="{{profile.email}}" aria-label=".form-control-lg example" readonly name="email">
                            <button type="button" class="btn btn-outline-light">Edit</button>
                        </div>
                    </div>
                </div> 
                <div class="col-sm d-none d-sm-none d-md-block">
                    <img src="https://images.vexels.com/media/users/3/145125/isolated/preview/aa16f42d31c6418567d400b96dc7b2ac-ilustraci-oacute-n-de-mochila-de-estudiante-by-vexels.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

  
<!-- Modal Username -->
<div class="modal fade" id="modalUsername" tabindex="-1" aria-labelledby="modalUsername" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" placeholder="Username" [formControl]="formUsername">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="updateUsername()" data-bs-dismiss="modal">Save changes</button>
        </div>
        </div>
    </div>
</div>